.ac-header{
    background-color: var(--white-aeroday);
    height: 140px;
    border-radius:  8px 8px 0px 0px;
    h2{
        color: var(--blue-aeroday);
        
        margin: 0%;
        font-weight: 300;
        font-size: 40px;
        margin-left:2% ;
        padding-top: 2%;

    }
    h3{
        text-align: center;
        color: var(--dark-color);
        font-style: normal;
        font-weight: bold;
        font-size: 49px;
        align-self: center;
    }
}